.grid-container {
    border: 2px solid #333;
    display: flex;
    height: 500px;
    max-width: 500px;
    margin: auto;
}

.grid-size-btn {
    display: block;
    margin: 10px auto;
}

.random-color-btn {
    display: block;
    margin: 10px auto;
}